*{
    box-sizing: border-box;
}

body {
    height: auto;
    margin: 0%;
}

.main{

    height: 100%;
    width: 100%;
    position: relative;
}

header {
    background-color: rgb(0,0,0,0.685);
    margin: 0%;
    color: white;
    height: 13vh;
    text-align: center;
    padding: 3vh;
}

header h1{

    margin: 0%;
    font-size: 7vh;
}


footer {
    background-color: rgb(0, 0, 0);
    text-align: center;
    color: white;
    padding: 20px;
    font-size: 16px;
}

@media (max-width:600px) {

    header{

        height: 7.5vh;
        padding: 1.5vh;
    }
    header h1{

        font-size: 3.5vh;
    }
    
}

/* Styles for navigation bar part */

#navigation-bar {

    position: sticky;
    top: 0%;
    z-index: 1;
}

#main-menu {

    background-color: rgb(0,0,0,0.5);
    margin: 0%;
}

.menu-list {

    list-style-type: none;
}

#main-menu>li {

    display: inline-block;
    padding: 0.625rem;
}

#sub-menu-1>li,
#sub-menu-2>li {
    padding: 0.625rem;
}

#main-menu>li:hover {

    background-color: rgb(38, 38, 38);
}

#sub-menu-1>li:hover,
#sub-menu-2>li:hover {
    background-color: gainsboro;
}

.menu-list a {

    text-decoration: none;
    font-size: 1.25rem;
}

#sub-menu-1 a,
#sub-menu-2 a {

    color: rgb(58, 125, 179);
    font-size: 1rem;
}

@media (max-width:600px) {
    
    .menu-list  a {
        font-size: 0.8rem;
    }
    
    #sub-menu-1 a,
    #sub-menu-2 a {
    
        font-size: 0.7rem;
    }
    #main-menu>li {

        display: inline-block;
        padding: 0.35rem;
    }
    
    #sub-menu-1>li,
    #sub-menu-2>li {
        padding: 0.35rem;
    }

}

#main-menu>li>a {

    color: whitesmoke;
}

#sub-menu-1,
#sub-menu-2 {

    position: absolute;
    display: none;
    background-color: rgb(245, 245, 245);
    top: 100%;
    padding: 0%;
    max-width: 150px;
}

#main-menu-item-2:hover #sub-menu-1,
#main-menu-item-3:hover #sub-menu-2 {

    display: block;
}

/* Styles for the Sliding advertisement section */

#offers-container {
    margin: 0.25vw;
    width: calc(100% - 0.5vw);
    padding-top: 26.5%;
    position: relative;
    border: 0.35vmax solid steelblue;
    
}

@media (max-width:800px) {
    
    #offers-container{

        padding-top: 33%;
    }
}


@media (max-width:600px) {
    #offers-container{

        padding-top: 40%;
    }
}

/* Here I've used the padding-top hack technique to make the images responsive while maintaining the aspect ratio same */

#offers-container-content{

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url(Images/Animation/ani1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    animation-name: image-slider;
    animation-duration: 25s;
    animation-iteration-count: infinite;

}

@keyframes image-slider {

    0% {
        background-image: url(Images/Animation/ani1.jpg);
    }

    25% {
        background-image: url(Images/Animation/ani2.png);
    }

    50% {
        background-image: url(Images/Animation/ani3.jpg);
    }

    75% {
        background-image: url(Images/Animation/ani4.jpg);
    }

    100% {
        background-image: url(Images/Animation/ani5.jpg);
    }
}
  

/* Styles for products section */

#products-section {
    display: flex;
    flex-direction: column;
    margin: 0rem 0.35rem 0.7rem 0.35px;
    box-sizing: border-box;
    width: calc(100% - 0.7rem);

}

#container-for-covid-care-products,
#container-for-diabetes-products {

    display: flex;
    justify-content: center;
    gap: 4vw;
    flex-wrap: wrap;
}

.product-card {

    background-color: rgb(243, 243, 253);
    padding: 0.6rem;
    border-radius: 0.4rem;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
    margin: 0.4rem;
    min-width: 240px;

}

#products-section p {

    font-size: 1rem;
    color: rgb(21, 124, 232);
}

.product-card:hover {

    transform: scale(1.05);

}

.product-card img {

    height: 7.5rem;
    width: 14rem;
}

/* Adjusting margins and padding in the Products section*/

#products-section h3,
#products-section p {

    margin: 0%;
}

#covid-care-products>h1,
#diabetes-care-products>h1 {

    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    margin-left: 2rem;
}

.add-cart-button {

    width: 100%;
    height: 1.8rem;
    border-radius: 0.4rem;
    border: 2px solid rgb(53, 53, 254);
    font-size: 1rem;
    color: rgb(255, 165, 0);
    font-weight: bold;
    background-color: rgb(230, 230, 250);
}

.add-cart-button:active {

    background-color: rgb(250, 234, 230);
    border-color: rgb(0, 255, 76);
}

