*{
    box-sizing: border-box;
}


body{

    margin:0px;
    padding: 0px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

#outer-container{

    width: 70%;
    height: 450px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    position: relative;

}

#image-container{

    width: 45%;
    height: 450px;
    position: sticky;
     /*To fix the image, we can stick it to the top so that it'll not move when scrolled*/
    top: 0px;

}

#form-container{

    padding: 1.5rem;
    width: 55%;
}

#image-container > img{

    width: 100%;
    height: 450px;
}

@media (max-width:800px) {

/* Showing the image on the top and using the padding-top hack to maintain the aspect ration of the image for smaller screens */
    #outer-container{

        display: flex;
        flex-wrap: wrap;
    }

    #image-container, #image-container img, #form-container{

        position: static;
        width: 100%;
    }

    #image-container{

        position: relative;
        height: 0px;
        padding-top: 80%;
        object-fit: cover;
    }

    #image-container img{
        height: 100%;
        position: absolute;
        top:0%;
        left:0%;
    }
    
}

input[type=text], input[type=email], input[type=number]{

    border: none;
    border-bottom: 2px solid rgb(213, 213, 213);
    
}

#form-container input, select{

    font-size:16px;
    font-family: 'Times New Roman', Times, serif;
    padding: 8px;
}

#outer-container{

    overflow-y: scroll;
}

#form-container h4{

    margin-bottom:0px;
}

#lab-test{

    padding: 5px;
}

/* Styles for Submit and reset buttons */

#form-actions{

    margin: 20px;
    margin-right:150px;
}

#reset-button{

    margin-right: 30px;
}



#form-actions button{

    background-color: rgb(175, 102, 243);
    font-size: 16px;
    color: whitesmoke;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
}
