.products {
    position: relative;
    height: fit-content;
    margin: 20px 0 20px 0;
    border: 2px solid black;
    border-radius: 5px;
    padding: 30px;

}

.prdts {
    display: inline-block;
    position: relative;
    border-radius: 10px;
    margin: 5px;
    width: 240px;
    height: 240px;
    background-color: rgba(100, 145, 255, 0.2);
    box-shadow: 4px 3px 8px 1px rgba(100, 100, 100, .5);
    margin: 0 50px 0 50px;
}

.prdts:hover {
    width: 260px;
    height: 260px;
}

.prdts img{
    width: 230px;
    height: 150px;
    margin: 5px;
    border-radius: 10px;
    position: -webkit-sticky;
    position:sticky;
    top:0;
}

.prdts .prdhdr {
    margin: 5px;
    font-weight: bold;
    display: inline;
    font-size: medium;
    color: black;
}

.prdts p {
    color: blue;
    margin: 0px;
    margin-left: 5px;
    margin-bottom: 2px;
    text-transform: capitalize;
}

.prdts button {
    align-items: center;
    width: 220px;
    height: auto;
    margin: 5px;
    color: rgb(193, 127, 4);
    font-weight: bold;
    background-color: rgba(100, 145, 255, 0.5);
    border-radius: 5px;
    border-color: darkblue;
}

.prdts button:active {
    background-color: rgb(250, 234, 230);
    border-color: rgb(0, 255, 76);
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.navbar-section {
    overflow: hidden;
    background-color:dimgray;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.navbar a {
    float: left;
    color: white;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
}

.subnav {
    float: left;
    overflow: hidden;
}

.subnav .subnavbtn {
    border: none;
    outline: none;
    color: whitesmoke;
    font-weight: bolder;
    font-size: 16px;
    ;
    padding: 10px 12px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover,
.subnav:hover .subnavbtn {
    background-color: black;
}

.subnav-content {
    font-size: 12px;
    ;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: auto;
    box-shadow: 0px 8px 6px 0px rgba(0, 0, 0, 2);
    z-index: 1;

}

.subnav-content a {
    float: none;
    color: black;
    padding: 10px 12px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.subnav-content a:hover {
    background-color: #ddd;
}

.subnav:hover .subnav-content {
    display: block;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.imgSlider {
    width: 100%;
    height: 300px;
    background-image: url("/images/Animation/ani1.jpg");
    background-size: 100% 100%;
    box-shadow: rgba(149, 157, 165, 0.2)0px 8px 24px;
    animation: changeImage 20s linear infinite;
    border: 2px solid steelblue;
}

@keyframes changeImage {
    0% {
        background-image: url("/images/Animation/ani2.jpg");
    }

    25% {
        background-image: url("/images/Animation/ani3.jpg");
    }

    50% {
        background-image: url("/images/Animation/ani4.jpg");
    }

    75% {
        background-image: url("/images/Animation/ani5.jpg");
    }

    100% {
        background-image: url("/images/Animation/ani1.jpg");
    }
}

body {
    background-color: white;
  }
  
  header {
    background-color: black;
    color: white;
    font-size: x-large;
    font-weight: bolder;
    text-align: center;
    padding: 5px;
  }
  
  footer {
    background-color: black;
    color: rgb(255, 255, 0);
    padding: 5px;
    bottom: 0px;
    text-align: center;
  }

  body {
    background-color: white;
}

#testForm {
    float: left;
    width: 50%;
    margin: 0px;
    padding: 0px;
    border:1px solid black;
}


#testimage img {
        width:50%;
        height: 73%;
        position: -webkit-sticky;
        position:sticky;
        bottom:10;
        border:1px solid black;
    }

.inputTable td {
    padding: 10px;
}

.inputTable th {
    text-align: left;
}

.inputTable input[type=text],
input[type=number],
input[type=email] {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    border-color: rgba(128, 128, 128, 0.5);
    width: 300px;
}

.inputTable label {
    text-align: left;
}

input[type=button] {
    padding: 10px 10px;
    right: 50%;
    color: white;
    font-size: larger;
    font-weight: bolder;
    background-color: blueviolet;
    right:50%;
}